# Composer
/vendor/
/composer.lock

# Entornos de desarrollo
/.env
/.env.local
/.env.*.local

# Caché y logs
/storage/*
!/storage/.gitignore
/storage/logs/*
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Archivos de configuración y secretos
*.env
.env.*.local
.phpunit.result.cache

# Archivos del IDE
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros
/node_modules/
/public/hot
/public/storage
/npm-debug.log*
/yarn-error.log*
/.pnpm-debug.log*
/debug.log*
