{% extends './common/layout.html.twig' %}

{% block content %}
<h1>Inicio</h1>

<div class="row">
    <div class='col-3'>
        <h4 class="mb-3">Categorías</h4>
        <ul class="list-group mb-4">
            {% for cat in categories %}
                <li class="list-group-item category" data-category='{{ cat.nombre }}'>{{ cat.nombre }}</li>
            {% endfor %}
        </ul>

        <h4 class="mb-3">Autores</h4>
        <ul class="list-group">
            {% for author in authors %}
                <li class="list-group-item author" data-author='{{ author.nombre }}'>{{ author.nombre }}</li>
            {% endfor %}
        </ul>

        <button id='deleteFilter' class='btn btn-secondary my-3'>x Eliminar filtros</button>
    </div>

    <div class='col-9'>
        <div id="images-container" class="row"></div>

        <nav>
            <ul id="pagination" class="pagination"></ul>
        </nav>
    </div>
</div>

<script src="/dist/index.js"></script>
{% endblock %}
