{% extends './common/layout.html.twig' %}

{% block content %}
<h1>Proyecto Skills</h1>
<ul>
    {% for user in users %}
        <li>{{ user.email }}</li>
         <img src="/imagen/{{ user.uid }}" alt="Imagen de {{ user.nombre }}">
    {% endfor %}
</ul>
{% endblock %}