<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-lg">
    <a href='/' class="navbar-brand">Skills 2018</a>
    <div>
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal">
        <i class="bi bi-search text-white"></i> Buscar
      </button>
      {% if logeado %}
        <a href="/profile" class="btn btn-secondary"><i class="bi bi-person text-white"></i> Perfil</a>
        <a href="/logout" class="btn btn-danger"><i class="bi bi-box-arrow-right text-white"></i> Cerrar Sesión</a>
      {% else %}
        <a href='/login' class="btn btn-secondary"><i class="bi bi-box-arrow-right text-white"></i> Iniciar Sesión</a>
      {% endif %}
    </div>
  </div>
</nav>


<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel"><i class="bi bi-search"></i> Buscar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="busquedaForm" action="/" method="get" novalidate>
          <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" name="title">
            <div class="invalid-feedback">Por favor, rellene este campo o alguno de los otros.</div>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Categoría</label>
            <input type="text" class="form-control" id="category" name="category">
            <div class="invalid-feedback">Por favor, rellene este campo o alguno de los otros.</div>
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Autor</label>
            <input type="text" class="form-control" id="author" name="author">
            <div class="invalid-feedback">Por favor, rellene este campo o alguno de los otros.</div>
          </div>
          <div class="mb-3">
            <label for="pageLimit" class="form-label">Límite de Páginas</label>
            <input type="number" class="form-control" id="pageLimit" name="pageLimit">
            <div class="invalid-feedback">Por favor, rellene este campo o alguno de los otros.</div>
          </div>
          <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <script src='/dist/busquedaValidation.js'></script>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cookieModalLabel">Política de Cookies</h5>
                </div>
                <div class="modal-body">
                  Este sitio web utiliza cookies esenciales para su funcionamiento. No se almacenan datos con otros fines.
                </div>
                <div class="modal-footer">
                    <a type="button" href='https://google.com' class="btn btn-secondary">Denegar y salir</a>
                    <button type="button" class="btn btn-primary" id="acceptCookies">Aceptar, continuar</button>
                </div>
            </div>
        </div>
</div>