<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href='/' class="navbar-brand">Skills 2018</a>
    {% if logeado %}
    <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
    {% else %}
      <a href='/login' class="btn btn-primary">Iniciar Sesion</a>
    {% endif %}


  </div>
</nav>