{% extends './common/layout.html.twig' %}

{% block content %}

<div class="row">

    <div class='col-3'>
        <div class="mb-3">
            <img src="/imgProfile/{{ user.uid }}" class="img-fluid rounded-circle shadow-sm" width="200" height="200" alt="Imagen de {{ user.nombre }}">
        </div>

        <h5 class="text-primary">{{ user.nombre }}</h5>
        <p class="text-muted">{{ user.email }}</p>
    
        <a href="/newPhoto" class="btn btn-outline-primary mt-3">Subir nueva imagen</a>
    </div>

   <div class='col-9'>
    <div class='row' id='imgsProfile'>
    </div>
     <nav>
        <ul id="pagination" class="pagination"></ul>
    </nav>
   </div>


</div>
<script src="/dist/profileUser.js"></script>
{% endblock %}

