{% extends './common/layout.html.twig' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Perfil de {{ user.nombre }}</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <img src="/imagen/{{ user.uid }}" alt="Imagen de {{ user.nombre }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}